/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body Styling */
body {
    background-color: #3E2723; /* Mocha Brown */
    color: #ffffff; /* White text */
    font-size: 18px;
    text-align: center;
}

/* Navbar Styling */
.navbar {
    background: #5D4037; /* Darker Mocha Brown */
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.tab-link:hover {
    background-color: #8D6E63; /* Lighter Mocha */
    border-radius: 5px;
}

/* Content Styling */
.content {
    margin-top: 80px;
    padding: 20px;
}

/* Menu Item Styles */
.menu-item {
    position: relative;
    cursor: pointer;
    margin: 20px 0;
}

.menu-text {
    background-color: #5D4037; /* Mocha */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.menu-text:hover {
    background-color: #8D6E63; /* Lighter Mocha */
}

/* Dropdown Styles */
.dropdown {
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
}

.dropdown-item {
    background-color: #3E2723; /* Mocha */
    padding: 8px 20px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #8D6E63; /* Lighter Mocha */
}

/* Dropdown Show when Active */
.menu-item:hover .dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Customization Inputs */
input[type="range"] {
    width: 80%;
    margin: 10px 0;
    background-color: #8D6E63;
    border-radius: 5px;
    padding: 5px;
}

input[type="color"] {
    width: 80%;
    margin: 10px 0;
    background-color: #8D6E63;
    border-radius: 5px;
    padding: 5px;
}

p {
    font-size: 16px;
    color: #ffffff;
}

/* Specific Customization Styling */
#fov-dropdown, #silent-fov-dropdown {
    display: block;
    margin-top: 10px;
}

/* Input and Range Sliders */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #6D4C41; /* Mocha accent color */
    border-radius: 5px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="color"] {
    height: 30px;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
